APScheduler==3.11.0
boto3==1.37.17
botocore==1.34.69
botocore==1.37.17
fastapi==0.115.12
moviepy==1.0.3
paramiko==3.5.0
passlib==1.7.4
Pillow==11.1.0
pydantic==2.11.2
pydantic_settings==2.8.1
python-dotenv==1.1.0
python_jose==3.3.0
SQLAlchemy==2.0.30
SQLAlchemy==2.0.34
uvicorn==0.34.0
